@import "../styles/variables.scss";

.container{    
    display: flex;
    flex-direction: column;        
    max-width: 600px;   
    margin-left: auto;
    margin-right: auto;
    padding-bottom: 3em;
}

.image-container{
    width: 300px;
    align-self: center;
}

.name{    
    padding: 1em;
    font-size: 1.5em;
    color: $highlight-text;
    font-weight: 600;
    text-align: center;
}

.section-title{
    padding: 1em;
    font-size: 1.2em;
    font-weight: 600;
    text-align: center;
}