@import "../styles/variables.scss";

.statement{
    padding-left: 2em;
    align-self: center;
    max-width: 600px;
    flex: 1;    
}

.hello{
    color: $highlight-text;
}

.name{
    font-size: 4.5em;
    font-weight: 600;
}

.strap-line{
    font-size: 3.5em;
    color: $text-low-contrast;
}

.bio{
    color: $text-low-contrast;
}

.negative-space{
    padding: 4em;
}

@media screen and (max-width: 800px){
    .statement{
        padding: 0;
    }
}