@import "../styles/variables.scss";

.container{
    display: flex;
    justify-content: space-between;
}

.logo{
    align-self: flex-start;
    padding-left: 1em;
}

.nav-links{
    margin-right: 1em;
    align-self: center;    
    display: flex;
    a{
        padding: 0 1em;
    }
}